
#three {
    padding-top: 400px;
    padding-bottom: 400px;
    background-color: grey;
    text-align: right;
}

#margin-a-b {
    margin-top: 400px;
    margin-bottom: 500px;
}

.col-md-6 {
    background-color: grey;

}

