
.title {
    padding-top: 400px;
    padding-bottom: 400px;
    background-color: #e2aa64;
    text-align: right;
}

.margin-a-b {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f5f2f0;
}

.margin-con {
    padding-top: 50px;
    margin-top: 150px;
    margin-bottom: 200px;
    background-color: #f5f2f0;
}

h3 {

}
.animate__animated.animate__fadeInUp.animate__repeat-2 {
    --animate-duration: 1.5s;
    --animate-repeat: 0.5;
    text-align: center;
  }
  .grow {
    opacity: 0.50;
    font-size: 100 rem;
    }