
.title {
    padding-top: 400px;
    padding-bottom: 400px;
    background-color: grey;
    text-align: right;
}

.margin-a-b {
    margin-top: 300px;
    margin-bottom: 300px;
}

.margin-con {
    margin-top: 300px;
    margin-bottom: 200px;
}

