
#title {
    padding-top: 400px;
    padding-bottom: 400px;
    background-color: grey;
    text-align: right;
}

#margin-a-b {
    margin-top: 200px;
    margin-bottom: 300px;
}

#margin-con {
    margin-top: 100px;
    margin-bottom: 200px;
}

.right {
    align: right
}

.left{
    a
}